@charset "utf-8";
/* CSS Document */
/* Stylizes most of the page except for the SidePanel */

html {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
}

canvas {
	border: 1px solid black;
	/*DO NOT SET CANVAS WIDTH / HEIGHT IN CSS*/
}

#main_title {
	font-size: 30px;
	display: inline-block;
	float: left;
	color: #7cfc00;
	padding: 40px;
}

#name_list {
	display: inline-block;
	float: right;
	color: #7cfc00;
	padding: 8px;
}

/* styling for the top level grid - header, sim, footer*/
#total_container {
	width: 90%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 100px 1fr 150px;
	grid-gap: 10px; 

	border: 1px solid black;
	height: 100%;
	margin: auto;
}

/* styling for the top header */
#top_header {
	width: 100%;
	background-color: #0E0E4C;
	box-sizing: border-box;
}

/* styling for the sim grid */
#sim_container {
	display: grid;
	grid-template-columns: 40% 60%;
	grid-template-areas: 'info sim';
	justify-content: center;
}

/* styling for the footer */
#footer_container {
	padding: 10px;
	width 100%;
	background-color: #0E0E4C;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 40% 60%;
	grid-template-areas: 'simc addr'
						 'simc addc'
						 'simc delc'
						 'simc pack';
}

.footer_form {
	display: block;
	float: left;
	margin-right: 20px;
}
.footer_text {
	color: #FFF;
}

/* stylings for the form entries */
#sim_control {
	padding: 10px;
	grid-area: simc;
}
#add_router {
	grid-area: addr;
}
#add_connection {
	grid-area: addc;
}
#delete_connection {
	grid-area: delc;
}
#packet_send {
	grid-area: pack;
}

/* router text forms */
#router_from, #router_to, #first_delete, #second_delete, 
	#first_add, #second_add, #router_id, #router_x, #router_y {
	width: 50px;
}
#sendPacketBtn, #addRouterBtn, #addConnectionBtn, #deleteConnectionBtn {
	width: 150px;
	display: inline-block;
	float: right;
	margin-right: 20px;
}
/* styling for the sim grid */
#info_div {
	height: 100%;
	padding: 20px;
	grid-area: info;
	background-color: lightgray;
}

/*
 * STYLING FOR THE ROUTER SIMULATION DIV
 * - REFER TO drawing.js FOR INNER CANVAS STUFF
 */
#sim_div {
	grid-area: sim;
	width: 100%;
	text-align: center;
}
#sim_div canvas {
	display: inline;	
}

