<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">

    <meta name="copyright" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="index, follow" />
    <meta name="DC.title" content="" />

    <link rel="stylesheet" type="text/css" href="css/fluid_index.css" />
    <link rel="stylesheet" type="text/css" href="css/controlpanel.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/sandbox.css">

    <title>There and Back Again</title>
  </head>

  <body>

    <div id="total_container">
      <div id="top_header">
        Top Header
      </div>

      <div id="sim_container">

        <div id="info_div">
          <!-- angular -->
          <div class="vfill" ng-app="cpeAngularApp" ng-controller="SidePanelController">

            <!-- router selected -->
            <div ng-if="currentRouter !== null">
              <p>Router Id: {{currentRouter.Id}}</p>
              <p>Fail Chance: <input ng-model="property.failChance"> <button ng-click="setFailChance()">set</button></p>
              <p>Status: {{currentRouter.Alive ? "Alive" : "Dead"}}</p>

              <!-- Routing Table -->
              <p>Routing Table:</p>
              <table>
                <tr>
                  <th>ID</th>
                  <th>NEXT HOP</th>
                  <th>TTL</th>
                </tr>
                <tr ng-repeat="row in currentRouter.RoutingTable">
                  <td>{{ row.routerId }}</td>
                  <td>{{ row.nextHop }}</td>
                  <td>{{ row.ttl }}</td>
                </tr>
              </table>

              <!-- Packet Queue -->
              <p>Packet Queue:</p>
              <table>
                <tr>
                  <th>SRC</th>
                  <th>DEST</th>
                  <th>TYPE</th>
                  <th>DATA</th>
                </tr>
                <tr ng-repeat="packet in currentRouter.Queue">
                  <td>{{ packet.source }}</td>
                  <td>{{ packet.dest }}</td>
                  <td>{{ packet.type }}</td>
                  <td>{{ packet.payload }}</td>
                </tr>
              </table>

            </div>

            <!-- no router selected -->
            <div ng-if="currentRouter === null">
              <p>Please select a router</p>
            </div>



          </div>
        </div>

        <div id="sim_div">
          <canvas id="sim_canvas"></canvas>
        </div>
      </div>
    </div>


    <!-- external library files MUST go first -->
    <script src="js/lib/angular.js"></script>

    <!-- our object classes -->
    <script src="js/classes/Packet.js"></script>
    <script src="js/classes/Router.js"></script>
    <script src="js/classes/Topology.js"></script>

    <!-- global variables & initialization code -->
    <script src="js/bin/globals.js"></script>
    <script src="js/bin/initialization.js"></script>

    <!-- our javascript code -->
    <script src="js/drawing.js"></script>
    <script src="js/SidePanelController.js"></script>



  </body>

</html>