<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">

    <meta name="copyright" content="" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="robots" content="index, follow" />
    <meta name="DC.title" content="" />

    <link rel="stylesheet" type="text/css" href="css/fluid_index.css" />
    <link rel="stylesheet" type="text/css" href="css/controlpanel.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/sandbox.css">

    <title>There and Back Again</title>
  </head>

  <body>

    <div id="total_container">
      <div id="top_header">
      	<div id="main_title">
      		CPE 400 Project - Dynamic Routing
      	</div>
      	<div id="name_list">
      		<br>  
        		Spencer Deangelis
        		<br>
       		 Maxwell Wiegant
        		<br>
        		Gabe Petersen
      	</div>	
      </div>

      <div id="sim_container">

        <div id="info_div">
          <!-- angular -->
          <div class="vfill" ng-app="cpeAngularApp" ng-controller="SidePanelController">

            <!-- router selected -->
            <div ng-if="currentRouter !== null">
              <p>Router Id: {{currentRouter.Id}}</p>
              <p>Fail Chance: <input ng-model="property.failChance"> <button ng-click="setFailChance()">set</button></p>
              <p>Status: {{currentRouter.Alive ? "Alive" : "Dead"}}</p>
              <p ng-if="currentRouter.Alive === false">Alive in: {{currentRouter.DeadUntil - tickTime}} ticks</p>

              <!-- Routing Table -->
              <p>Routing Table:</p>
              <table>
                <tr>
                  <th>DEST</th>
                  <th>NEXT-HOP</th>
                  <th>TTL</th>
                </tr>
                <tr ng-repeat="row in currentRouter.RoutingTable">
                  <td>{{ row.routerId }}</td>
                  <td>{{ row.nextHop }}</td>
                  <td>{{ row.ttl }}</td>
                </tr>
              </table>

              <!-- Packet Queue -->
              <p>Packet Queue:</p>
              <table>
                <tr>
                  <th>SRC</th>
                  <th>DEST</th>
                  <th>TYPE</th>
                  <th>HL</th>
                  <th>DELAY</th>
                  <th>DATA</th>
                </tr>
                <tr ng-repeat="packet in currentRouter.Queue">
                  <td>{{ packet.Source }}</td>
                  <td>{{ packet.Dest }}</td>
                  <td>{{ packet.Type }}</td>
                  <td>{{ packet.HopsLeft }}</td>
                  <td>{{ packet.Delay - tickTime > 0 ? packet.Delay - tickTime : 0 }}</td>
                  <td>{{ packet.Payload }}</td>
                </tr>
              </table>

              <p>Global Time: {{tickTime}}</p>

            </div>

            <!-- no router selected -->
            <div ng-if="currentRouter === null">
              <p>Please select a router</p>
            </div>
          </div>
        </div>

	    <!-- canvas housing -->
        <div id="sim_div">
          <!-- DO NOT SET CANVAS WIDTH / HEIGHT IN CSS -->
          <canvas id="sim_canvas"></canvas>
        </div>
      </div>
      
      <!-- footer grid cell with a bunch of cool control stuff -->
      <div id="footer_container">
          <div id = "sim_control">
              <br>
              <button id = "startTickingBtn" type = "button" >Start Ticking</button>
              <br><br>
              <button id="stopTickingBtn" type = "button">Stop Ticking</button>
          </div>
      	<div id = "add_router">
      		<div class="footer_form"><t class="footer_text">Router ID: </t><input type="text" id="router_id" value=""></div>
      		<div class="footer_form"><t class="footer_text">X-Position: </t><input type="text" id="router_x" value=""></div>
      		<div class="footer_form"><t class="footer_text">Y-Position: </t>:<input type="text" id="router_y" value=""></div>
    			<input id="addRouterBtn" type="button" value="Add Router"/>
      	</div>
      	<div id = "add_connection">
      		<div class="footer_form"><t class="footer_text">First Router: </t><input type="text" id="first_add" value=""></div>
      		<div class="footer_form"><t class="footer_text">Second Router: </t><input type="text" id="second_add" value=""></div>
      		<input id="addConnectionBtn" type="button" value="Add Connection"/>
      	</div>
      	<div id = "delete_connection">
      		<div class="footer_form"><t class="footer_text">First Router:  </t><input type="text" id="first_delete" value=""></div>
      		<div class="footer_form"><t class="footer_text">Second Router:  </t><input type="text" id="second_delete" value=""></div>
      		<input id="deleteConnectionBtn" type="button" value="Delete Connection"/>
      	</div>
      	<div id = "packet_send">
      		<div class="footer_form"><t class="footer_text">From Router: </t><input type="text" id="router_from" value=""></div>
      		<div class="footer_form"><t class="footer_text">To Router: </t><input type="text" id="router_to" value=""></div>
      		<input type="button" id="sendPacketBtn" value="Send Packet">
      	</div>
      </div>
    </div>


    <!-- external library files MUST go first -->
    <script src="js/lib/angular.js"></script>

    <!-- our object classes -->
    <script src="js/classes/Packet.js"></script>
    <script src="js/classes/Router.js"></script>
    <script src="js/classes/Topology.js"></script>

    <!-- global variables & initialization code -->
    <script src="js/bin/globals.js"></script>
    <script src="js/bin/initialization.js"></script>

    <!-- our javascript code -->
    <script src="js/drawing.js"></script>
    <script src="js/SidePanelController.js"></script>



  </body>

</html>